.reg{
    text-align: right;
    color: blue;
    background-color: gold;
    padding: 1%;
    font-size: larger;
}

.slika{
    padding: 0%;
}

.bigpadding{
    padding: 3%;
}

.back{
    background-image: url(images/background.jpg);
    background-size: cover;
    position: relative;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
}

.userpass{
    color: white;
}
